@model List<LibraryManagementAssignment.ViewModels.AuthorViewModel>
<h2>Authors</h2>
<a href="@Url.Action("Create", "Author")" class="btn btn-primary">Create Author</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th> Delete Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Author", new { id = author.Id })">
                    @author.Id
                </a>
            </td>
            <td>@author.Name</td>
            <td>
                <a href="@Url.Action("Delete", "Author", new { id = author.Id })" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this?');">
                    DELETE
                </a>
            </td>
        </tr>
    }

</table>

<script>
document.addEventListener("DOMContentLoaded", function() {
    @if (TempData["ErrorMessage"] != null)
    {
        @:var message = "@Html.Raw(TempData["ErrorMessage"])";
        @:alert(message);
    }
});
</script>