@model List<LibraryManagementAssignment.ViewModels.CustomerViewModel>
<h2>Customers</h2>
<a href="@Url.Action("Create", "Customer")" class="btn btn-primary">Create Customer</a>

<table class="table">
    <thead>
    <tr>
        <th>Customer Id</th>
        <th>Name</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Customer", new { id = customer.CustomerId })">@customer.CustomerId</a>
            </td>
            <td>@customer.Name</td>
            <td>
                <form asp-action="Delete" asp-controller="Customer" asp-route-id="@customer.CustomerId" method="post" onsubmit="return confirm('Are you sure you want to delete this Customer?');">
                    <button type="submit" class="btn btn-danger">
                        DELETE
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>